body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    color: blue;

    .styled-list {
        padding: 0; 
    }
    
    .styled-list li {
        margin-bottom: 10px;
        text-align: center;
    }
    
    .styled-list li::marker {
      color: red; 
    }
    }
 
    
header {
    font-size: 18px;
    background-color: brown;
    color: blue;
    padding: 10px 0;
    text-align: center;
}
footer {
    font-size: 18px;
    background-color:brown;
    color: blue;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
main {
    padding: 20px;
}
button {
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.image-container {
    overflow: hidden; 
}

.hover-image {
    width: 300px; 
    transition: transform 0.3s ease; 
}

.hover-image:hover {
    transform: scale(1.1); 
        }
form {
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    max-width: 400px; 
    background-color: #f9f9f9; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

form div {
    margin-bottom: 15px; 
}

label {
    display: block;
    margin-bottom: 5px; 
    font-weight: bold; 
}

input[type="text"],
input[type="number"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff; 
    outline: none; 
}

button[type="submit"] {
    background-color: #007bff; 
    color: white;
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
}

button[type="submit"]:hover {
    background-color: #0056b3; 
}


